@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: rgb(240, 172, 204);
}

.container {
  background-color: rgb(240, 172, 204);
  height: 100vh;
  width: 100%;
  /* background-color: rgb(238, 221, 229); */
}

.nav {
  height: 12%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
}

.logo {
  position: absolute;
  left: 3%;
  /* top: 5%; */
  width: 5%;
}

.search {
  position: absolute;
  right: 19%;
  top: 30%;
  background-color: rgb(208, 191, 224);
  outline: none;
  border: none;
  border-radius: 5px;
  height: 2.5em;
  font-family: "Rubik", sans-serif;
  width: 50em;
  padding-left: 5%;
  font-size: 15px;

  text-transform: uppercase;
}
.submit {
  position: absolute;
  right: 3%;
  top: 30%;
  background-color: rgb(208, 191, 224);
  outline: none;
  border-radius: 5px;
  height: 2.5em;
  font-size: 15px;
  padding: 4px;
  font-family: "Rubik", sans-serif;
  width: 8em;
  transition: all 0.3s linear;
}
.submit:hover {
  background-color: rgba(0, 139, 0, 0.97);
}

/* card section */

.card {
  margin-top: 21px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.card_main {
  box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
  position: relative;
  margin: 22px;
  border: 1px solid rgb(139, 63, 63);
  height: 50vh;
  width: 26%;
}

.card_img {
  height: 55%;
  object-fit: cover;
  
  width: 100%;
}

.recipe_Name {
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 57%;
  left: 12%;
}

.ingredient_btn { 
  position: absolute;
  bottom: 17%;
  left: 5%;
  width: 90%;
  height: 8%;
  font-size: medium;
  font-family: -webkit-pictograph;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  text-align: center;
}

.find_recipe_btn {
  text-decoration: none;
  text-align: center;
  color: #000;

  border: 1px solid black;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 90%;
  height: 8%;
  font-size: medium;
  font-family: -webkit-pictograph;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.find_recipe_btn:hover,
.ingredient_btn:hover {
  background-color: rgb(61, 61, 61);
  color: rgb(248, 248, 248);
  box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 65px -4px rgba(0, 0, 0, 0.57);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .logo {
    width: 12%;
    height: 89%;
  }

  .search {
    height: 2.5em;
    width: 30em;
    font-size: 12px;
    text-transform: uppercase;
  }

  .submit {
    width: 5em;
    font-size: 12px;
  }

  /***********************card section***************** */

  .card_main {
    height: 40vh;
    width: 36%;
  }

  .recipe_Name {
    position: absolute;
    top: 62%;
    left: 12%;
  }

  .card_img {
    height: 55%;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 12%;
    height: 89%;
  }

  .search {
    height: 2.5em;
    width: 30em;
    font-size: 12px;
    text-transform: uppercase;
  }

  .submit {
    width: 5em;
    font-size: 12px;
  }

  /***********************card section***************** */

  .card_main {
    height: 40vh;
    width: 36%;
  }

  .recipe_Name {
    position: absolute;
    top: 62%;
    left: 12%;
  }

  .card_img {
    height: 55%;
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .logo {
    width: 12%;
    height: 89%;
  }

  .search {
    position: absolute;
    right: 33%;
    top: 32%;
    height: 1.7em;
    width: 18em;
    font-size: 11px;
  }

  .submit {
    position: absolute;
    right: 19%;
    top: 32%;
    border: none;
    height: 1.7em;
    font-size: 11px;
    padding: 2px;
    width: 5em;
  }

  .card_main {
    height: 52vh;
    width: 36%;
  }

  .recipe_Name {
    top: 63%;
    font-size: 12px;
  }

  .find_recipe_btn,
  .ingredient_btn {
    font-size: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
  }
}

@media all and (max-width: 480px) {
  .nav {
    height: 8vh;
  }

  .search {
    position: absolute;
    right: 33%;
    top: 32%;
    height: 1.7em;
    width: 12em;
    font-size: 10px;
    padding-top: 1px;
  }

  .submit {
    font-size: 9px;
    position: absolute;
    right: 16%;
    top: 32%;
    border: none;
    height: 1.7em;
    font-size: 10px;

    width: 6em;
  }

  .card_main {
    height: 45vh;
    width: 50%;
  }

  .recipe_Name {
    top: 63%;
    font-size: 12px;
  }
}
